body {
   padding: 20px;
}

.box{
   max-width: 1380px;
   margin: 0 auto;
}

.header{
   width: 100%;
   height: 150px;
   display: flex;
   justify-content: space-between;
   background-color: #e6f6f0;
   border: 1px solid black;

   &__logo{
      display: flex;
      justify-content: center;
      align-items: center;

      & a{
         font-size: 60px;
         font-weight: 600;
         background: linear-gradient(to bottom, aquamarine, #000080);
         -webkit-background-clip: text;
         background-clip: text;
         color: transparent;
      }
   }

   &__button{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      padding: 15px;

      & button{
         width: 150px;
         height: 50px;
         display: inline-block;
         font-weight: 700;
         font-size: 15px;
         text-transform: uppercase;
         color: #fff;
         border: 1px solid gray;
         border-radius: 5px;
         transition: background-image 0.5s ease;
         position: relative;
         overflow: hidden;
         cursor: pointer;
         background: linear-gradient(to bottom, aquamarine, #18CFAB);

         &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: #c4dff0;
         }

         &:hover {
            background: linear-gradient(to bottom, rgb(188, 202, 242), #1434d6);
         }
      }
   }
}

.hello-window{
   width: 100%;
   min-height: 300px;
   display: flex;
   justify-content: center;
   background-color: #e6f6f0;

   & h2{
      padding-top: 50px;
      font-weight: bold;
   }
}

.form-autoris form {
   width: 300px;
   margin: 0 auto;
   padding: 20px;
   border: 1px solid gray;
   border-radius: 5px;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 100;
   background-color: aquamarine;
}

#exitButton, .form-autoris form, #createButton{
   display: none;
}

.hello-window {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid black;
   border-top: none;
}

.visit {
   display: block;
   margin: 0 auto;
}